html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

.container {
  height: 100vh;
  font-family: 'Indie Flower', cursive;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/537051/codepen-logo.png");
  overflow: hidden;
}

.box {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 80%;
  height: 80%;
  perspective: 2000px;
  z-index: 1;
}
.box__inner {
  position: absolute;
  top: -50px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background-color: #F75A7B;
  box-shadow: 0 0 3px 1px #F75A7B;
  transform: translate3d(0, 0, 0) rotateY(30deg);
  will-change: transform;
  opacity: 0;
  z-index: -1;
  transition: z-index 0ms 500ms;
}
.box__inner-heading {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #fff;
  family: 'Indie Flower', cursive;
  font-size: 45px;
  font-weight: 300;
  text-shadow: 0 0 1px #fff;
}
.box__inner-heading span {
  font-weight: 600;
  text-shadow: 0 0 2px #fff;
}
.box__inner-wrapper {
  position: relative;
}
.box__inner-hearts {
  position: absolute;
  top: 60px;
  left: -2%;
  width: 100%;
}
.box__outer {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 20px;
  transition: opacity 500ms 500ms;
}
.box__outer:after, .box__outer:before {
  content: '';
  position: absolute;
  top: 65%;
  left: 50%;
  width: 90px;
  height: 1px;
  background-color: #888;
  transform: translateX(-165%);
}
.box__outer:before {
  transform: translateX(165%);
  left: initial;
  right: 50%;
}
.box__outer-heading {
  text-align: center;
  padding-bottom: 30px;
  font-size: 45px;
}
.box__outer-click {
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
}
.box__outer-logo {
  position: absolute;
  width: 65px;
  height: 65px;
  left: 50%;
  transform: translate(-50%, 5px);
  opacity: 0;
}
.box__btn {
  position: relative;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  cursor: pointer;
  transform: translate3d(0, 0, 0);
  will-change: transform;
  transition: 200ms;
}
.box__btn .fa-heart-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  opacity: 1;
}
.box__btn .fa-heart-btn--inner {
  color: #F75A7B;
}
.box__btn--inner {
  margin: 390px auto 0 auto;
}
.box__btn--inner:after, .box__btn--inner:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 50%;
}
.box__btn--inner:after {
  width: 12px;
  height: 12px;
  will-change: box-shadow, opacity;
  box-shadow: 10.39230485px -77.875px 1px -6px #fff, 11.81769304px -69.79122187px 1px -6px #fff, 7.71345132px -62.68246668px 1px -6px #fff, 0px -59.875px 1px -6px #fff, -7.71345132px -62.68246668px 1px -6px #fff, -11.81769304px -69.79122187px 1px -6px #fff, -10.39230485px -77.875px 1px -6px #fff, -4.10424172px -83.15131145px 1px -6px #fff, 4.10424172px -83.15131145px 1px -6px #fff, 58.01805248px -52.97566622px 1px -6px #fff, 53.91381076px -45.86691103px 1px -6px #fff, 46.20035945px -43.05944435px 1px -6px #fff, 38.48690813px -45.86691103px 1px -6px #fff, 34.38266641px -52.97566622px 1px -6px #fff, 35.8080546px -61.05944435px 1px -6px #fff, 42.09611773px -66.3357558px 1px -6px #fff, 50.30460117px -66.3357558px 1px -6px #fff, 56.59266429px -61.05944435px 1px -6px #fff, 78.49650856px -3.28842945px 1px -6px #fff, 70.78305725px -0.48096277px 1px -6px #fff, 63.06960593px -3.28842945px 1px -6px #fff, 58.96536421px -10.39718464px 1px -6px #fff, 60.3907524px -18.48096277px 1px -6px #fff, 66.67881553px -23.75727422px 1px -6px #fff, 74.88729897px -23.75727422px 1px -6px #fff, 81.17536209px -18.48096277px 1px -6px #fff, 82.60075028px -10.39718464px 1px -6px #fff, 62.2455759px 47.9375px 1px -6px #fff, 54.53212458px 45.13003332px 1px -6px #fff, 50.42788286px 38.02127813px 1px -6px #fff, 51.85327105px 29.9375px 1px -6px #fff, 58.14133418px 24.66118855px 1px -6px #fff, 66.34981762px 24.66118855px 1px -6px #fff, 72.63788074px 29.9375px 1px -6px #fff, 74.06326893px 38.02127813px 1px -6px #fff, 69.95902721px 45.13003332px 1px -6px #fff, 16.86924649px 76.73294044px 1px -6px #fff, 12.76500477px 69.62418525px 1px -6px #fff, 14.19039296px 61.54040712px 1px -6px #fff, 20.47845608px 56.26409567px 1px -6px #fff, 28.68693952px 56.26409567px 1px -6px #fff, 34.97500265px 61.54040712px 1px -6px #fff, 36.40039084px 69.62418525px 1px -6px #fff, 32.29614912px 76.73294044px 1px -6px #fff, 24.5826978px 79.54040712px 1px -6px #fff, -36.40039084px 69.62418525px 1px -6px #fff, -34.97500265px 61.54040712px 1px -6px #fff, -28.68693952px 56.26409567px 1px -6px #fff, -20.47845608px 56.26409567px 1px -6px #fff, -14.19039296px 61.54040712px 1px -6px #fff, -12.76500477px 69.62418525px 1px -6px #fff, -16.86924649px 76.73294044px 1px -6px #fff, -24.5826978px 79.54040712px 1px -6px #fff, -32.29614912px 76.73294044px 1px -6px #fff, -72.63788074px 29.9375px 1px -6px #fff, -66.34981762px 24.66118855px 1px -6px #fff, -58.14133418px 24.66118855px 1px -6px #fff, -51.85327105px 29.9375px 1px -6px #fff, -50.42788286px 38.02127813px 1px -6px #fff, -54.53212458px 45.13003332px 1px -6px #fff, -62.2455759px 47.9375px 1px -6px #fff, -69.95902721px 45.13003332px 1px -6px #fff, -74.06326893px 38.02127813px 1px -6px #fff, -74.88729897px -23.75727422px 1px -6px #fff, -66.67881553px -23.75727422px 1px -6px #fff, -60.3907524px -18.48096277px 1px -6px #fff, -58.96536421px -10.39718464px 1px -6px #fff, -63.06960593px -3.28842945px 1px -6px #fff, -70.78305725px -0.48096277px 1px -6px #fff, -78.49650856px -3.28842945px 1px -6px #fff, -82.60075028px -10.39718464px 1px -6px #fff, -81.17536209px -18.48096277px 1px -6px #fff, -42.09611773px -66.3357558px 1px -6px #fff, -35.8080546px -61.05944435px 1px -6px #fff, -34.38266641px -52.97566622px 1px -6px #fff, -38.48690813px -45.86691103px 1px -6px #fff, -46.20035945px -43.05944435px 1px -6px #fff, -53.91381076px -45.86691103px 1px -6px #fff, -58.01805248px -52.97566622px 1px -6px #fff, -56.59266429px -61.05944435px 1px -6px #fff, -50.30460117px -66.3357558px 1px -6px #fff;
}
.box__btn--inner:before {
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 0 1px #fff, 0 7px 25px -1px #3c3c3c;
  transition: 200ms;
}
.box__btn--inner:hover:before {
  background-color: #F75A7B;
  box-shadow: 0 0 1px 5px #fff, 0 7px 25px -1px #3c3c3c;
}
.box__btn--inner:hover .fa-heart-btn--inner {
  color: #fff;
}
.box__btn--outer {
  position: relative;
  transform: scale(0);
  margin: auto;
}
.box__btn--outer:after, .box__btn--outer:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 50%;
}
.box__btn--outer:after {
  width: 10px;
  height: 10px;
  will-change: box-shadow, opacity;
  box-shadow: 8.66025404px -76.875px 1px -5px rgba(247, 90, 123, 0.6), 9.84807753px -70.13851822px 1px -5px rgba(247, 90, 123, 0.6), 6.4278761px -64.21455557px 1px -5px rgba(247, 90, 123, 0.6), 0px -61.875px 1px -5px rgba(247, 90, 123, 0.6), -6.4278761px -64.21455557px 1px -5px rgba(247, 90, 123, 0.6), -9.84807753px -70.13851822px 1px -5px rgba(247, 90, 123, 0.6), -8.66025404px -76.875px 1px -5px rgba(247, 90, 123, 0.6), -3.42020143px -81.27192621px 1px -5px rgba(247, 90, 123, 0.6), 3.42020143px -81.27192621px 1px -5px rgba(247, 90, 123, 0.6), 56.04843698px -53.32296257px 1px -5px rgba(247, 90, 123, 0.6), 52.62823554px -47.39899992px 1px -5px rgba(247, 90, 123, 0.6), 46.20035945px -45.05944435px 1px -5px rgba(247, 90, 123, 0.6), 39.77248335px -47.39899992px 1px -5px rgba(247, 90, 123, 0.6), 36.35228192px -53.32296257px 1px -5px rgba(247, 90, 123, 0.6), 37.54010541px -60.05944435px 1px -5px rgba(247, 90, 123, 0.6), 42.78015801px -64.45637056px 1px -5px rgba(247, 90, 123, 0.6), 49.62056088px -64.45637056px 1px -5px rgba(247, 90, 123, 0.6), 54.86061348px -60.05944435px 1px -5px rgba(247, 90, 123, 0.6), 77.21093334px -4.82051834px 1px -5px rgba(247, 90, 123, 0.6), 70.78305725px -2.48096277px 1px -5px rgba(247, 90, 123, 0.6), 64.35518115px -4.82051834px 1px -5px rgba(247, 90, 123, 0.6), 60.93497972px -10.74448099px 1px -5px rgba(247, 90, 123, 0.6), 62.12280321px -17.48096277px 1px -5px rgba(247, 90, 123, 0.6), 67.36285581px -21.87788898px 1px -5px rgba(247, 90, 123, 0.6), 74.20325868px -21.87788898px 1px -5px rgba(247, 90, 123, 0.6), 79.44331129px -17.48096277px 1px -5px rgba(247, 90, 123, 0.6), 80.63113478px -10.74448099px 1px -5px rgba(247, 90, 123, 0.6), 62.2455759px 45.9375px 1px -5px rgba(247, 90, 123, 0.6), 55.8176998px 43.59794443px 1px -5px rgba(247, 90, 123, 0.6), 52.39749837px 37.67398178px 1px -5px rgba(247, 90, 123, 0.6), 53.58532186px 30.9375px 1px -5px rgba(247, 90, 123, 0.6), 58.82537446px 26.54057379px 1px -5px rgba(247, 90, 123, 0.6), 65.66577733px 26.54057379px 1px -5px rgba(247, 90, 123, 0.6), 70.90582993px 30.9375px 1px -5px rgba(247, 90, 123, 0.6), 72.09365343px 37.67398178px 1px -5px rgba(247, 90, 123, 0.6), 68.67345199px 43.59794443px 1px -5px rgba(247, 90, 123, 0.6), 18.1548217px 75.20085155px 1px -5px rgba(247, 90, 123, 0.6), 14.73462027px 69.2768889px 1px -5px rgba(247, 90, 123, 0.6), 15.92244376px 62.54040712px 1px -5px rgba(247, 90, 123, 0.6), 21.16249637px 58.14348091px 1px -5px rgba(247, 90, 123, 0.6), 28.00289923px 58.14348091px 1px -5px rgba(247, 90, 123, 0.6), 33.24295184px 62.54040712px 1px -5px rgba(247, 90, 123, 0.6), 34.43077533px 69.2768889px 1px -5px rgba(247, 90, 123, 0.6), 31.0105739px 75.20085155px 1px -5px rgba(247, 90, 123, 0.6), 24.5826978px 77.54040712px 1px -5px rgba(247, 90, 123, 0.6), -34.43077533px 69.2768889px 1px -5px rgba(247, 90, 123, 0.6), -33.24295184px 62.54040712px 1px -5px rgba(247, 90, 123, 0.6), -28.00289923px 58.14348091px 1px -5px rgba(247, 90, 123, 0.6), -21.16249637px 58.14348091px 1px -5px rgba(247, 90, 123, 0.6), -15.92244376px 62.54040712px 1px -5px rgba(247, 90, 123, 0.6), -14.73462027px 69.2768889px 1px -5px rgba(247, 90, 123, 0.6), -18.1548217px 75.20085155px 1px -5px rgba(247, 90, 123, 0.6), -24.5826978px 77.54040712px 1px -5px rgba(247, 90, 123, 0.6), -31.0105739px 75.20085155px 1px -5px rgba(247, 90, 123, 0.6), -70.90582993px 30.9375px 1px -5px rgba(247, 90, 123, 0.6), -65.66577733px 26.54057379px 1px -5px rgba(247, 90, 123, 0.6), -58.82537446px 26.54057379px 1px -5px rgba(247, 90, 123, 0.6), -53.58532186px 30.9375px 1px -5px rgba(247, 90, 123, 0.6), -52.39749837px 37.67398178px 1px -5px rgba(247, 90, 123, 0.6), -55.8176998px 43.59794443px 1px -5px rgba(247, 90, 123, 0.6), -62.2455759px 45.9375px 1px -5px rgba(247, 90, 123, 0.6), -68.67345199px 43.59794443px 1px -5px rgba(247, 90, 123, 0.6), -72.09365343px 37.67398178px 1px -5px rgba(247, 90, 123, 0.6), -74.20325868px -21.87788898px 1px -5px rgba(247, 90, 123, 0.6), -67.36285581px -21.87788898px 1px -5px rgba(247, 90, 123, 0.6), -62.12280321px -17.48096277px 1px -5px rgba(247, 90, 123, 0.6), -60.93497972px -10.74448099px 1px -5px rgba(247, 90, 123, 0.6), -64.35518115px -4.82051834px 1px -5px rgba(247, 90, 123, 0.6), -70.78305725px -2.48096277px 1px -5px rgba(247, 90, 123, 0.6), -77.21093334px -4.82051834px 1px -5px rgba(247, 90, 123, 0.6), -80.63113478px -10.74448099px 1px -5px rgba(247, 90, 123, 0.6), -79.44331129px -17.48096277px 1px -5px rgba(247, 90, 123, 0.6), -42.78015801px -64.45637056px 1px -5px rgba(247, 90, 123, 0.6), -37.54010541px -60.05944435px 1px -5px rgba(247, 90, 123, 0.6), -36.35228192px -53.32296257px 1px -5px rgba(247, 90, 123, 0.6), -39.77248335px -47.39899992px 1px -5px rgba(247, 90, 123, 0.6), -46.20035945px -45.05944435px 1px -5px rgba(247, 90, 123, 0.6), -52.62823554px -47.39899992px 1px -5px rgba(247, 90, 123, 0.6), -56.04843698px -53.32296257px 1px -5px rgba(247, 90, 123, 0.6), -54.86061348px -60.05944435px 1px -5px rgba(247, 90, 123, 0.6), -49.62056088px -64.45637056px 1px -5px rgba(247, 90, 123, 0.6);
}
.box__btn--outer:before {
  width: 100%;
  height: 100%;
  background-color: #F75A7B;
  box-shadow: 0 0 1px #F75A7B, 0 5px 5px #ccc;
  transition: 200ms;
}
.box__btn--outer:hover:before {
  background-color: #fff;
  box-shadow: 0 0 1px 5px #F75A7B, 0 5px 5px #ccc;
}
.box__btn--outer:hover .fa-heart-btn--outer {
  color: #F75A7B;
}
.box__btn--outer-arrow {
  border-color: transparent transparent transparent #fff;
}

.show-in-inner {
  z-index: 1;
  transition: z-index 0ms 0ms;
  animation: bounceInner 750ms forwards;
}
@keyframes bounceInner {
  16% {
    transform: rotateY(-15deg);
    opacity: 1;
  }
  32% {
    transform: rotateY(15deg);
    opacity: 1;
  }
  50% {
    transform: rotateY(-7.5deg);
    opacity: 1;
  }
  66% {
    transform: rotateY(3.75deg);
    opacity: 1;
  }
  83% {
    transform: rotateY(-2.5deg);
    opacity: 1;
  }
  100% {
    transform: rotateY(0deg);
    opacity: 1;
  }
}
.show-in-inner .box__btn--inner {
  animation: bounceBtnInner 650ms forwards;
}
@keyframes bounceBtnInner {
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(0.9);
  }
  75% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}
.show-in-inner .box__btn--inner .fa-heart-btn--inner {
  animation: scaleHeartInner 850ms forwards;
}
@keyframes scaleHeartInner {
  25% {
    transform: translate(-50%, -50%) scale(1.15);
  }
  50% {
    transform: translate(-50%, -50%) scale(0.98);
  }
  75% {
    transform: translate(-50%, -50%) scale(1.02);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
.show-in-inner .box__btn--inner:after {
  animation: particles--inner 1150ms cubic-bezier(0.18, 0.47, 0.72, 0.76);
}
@keyframes particles--inner {
  0%, 20% {
    opacity: 0;
  }
  25% {
    opacity: 1;
    box-shadow: 10.39230485px -63.5px 1px 0px #fff, 11.81769304px -55.41622187px 1px 0px #fff, 7.71345132px -48.30746668px 1px 0px #fff, 0px -45.5px 1px 0px #fff, -7.71345132px -48.30746668px 1px 0px #fff, -11.81769304px -55.41622187px 1px 0px #fff, -10.39230485px -63.5px 1px 0px #fff, -4.10424172px -68.77631145px 1px 0px #fff, 4.10424172px -68.77631145px 1px 0px #fff, 48.77798059px -41.96377735px 1px 0px #fff, 44.67373887px -34.85502216px 1px 0px #fff, 36.96028756px -32.04755548px 1px 0px #fff, 29.24683624px -34.85502216px 1px 0px #fff, 25.14259452px -41.96377735px 1px 0px #fff, 26.56798271px -50.04755548px 1px 0px #fff, 32.85604584px -55.32386693px 1px 0px #fff, 41.06452928px -55.32386693px 1px 0px #fff, 47.3525924px -50.04755548px 1px 0px #fff, 64.33989711px -0.7922369px 1px 0px #fff, 56.6264458px 2.01522978px 1px 0px #fff, 48.91299448px -0.7922369px 1px 0px #fff, 44.80875276px -7.90099208px 1px 0px #fff, 46.23414095px -15.98477022px 1px 0px #fff, 52.52220408px -21.26108167px 1px 0px #fff, 60.73068752px -21.26108167px 1px 0px #fff, 67.01875064px -15.98477022px 1px 0px #fff, 68.44413883px -7.90099208px 1px 0px #fff, 49.79646072px 40.75px 1px 0px #fff, 42.0830094px 37.94253332px 1px 0px #fff, 37.97876768px 30.83377813px 1px 0px #fff, 39.40415587px 22.75px 1px 0px #fff, 45.692219px 17.47368855px 1px 0px #fff, 53.90070244px 17.47368855px 1px 0px #fff, 60.18876556px 22.75px 1px 0px #fff, 61.61415375px 30.83377813px 1px 0px #fff, 57.50991203px 37.94253332px 1px 0px #fff, 11.95270692px 63.22485901px 1px 0px #fff, 7.84846521px 56.11610383px 1px 0px #fff, 9.2738534px 48.0323257px 1px 0px #fff, 15.56191652px 42.75601425px 1px 0px #fff, 23.77039996px 42.75601425px 1px 0px #fff, 30.05846309px 48.0323257px 1px 0px #fff, 31.48385128px 56.11610383px 1px 0px #fff, 27.37960956px 63.22485901px 1px 0px #fff, 19.66615824px 66.0323257px 1px 0px #fff, -31.48385128px 56.11610383px 1px 0px #fff, -30.05846309px 48.0323257px 1px 0px #fff, -23.77039996px 42.75601425px 1px 0px #fff, -15.56191652px 42.75601425px 1px 0px #fff, -9.2738534px 48.0323257px 1px 0px #fff, -7.84846521px 56.11610383px 1px 0px #fff, -11.95270692px 63.22485901px 1px 0px #fff, -19.66615824px 66.0323257px 1px 0px #fff, -27.37960956px 63.22485901px 1px 0px #fff, -60.18876556px 22.75px 1px 0px #fff, -53.90070244px 17.47368855px 1px 0px #fff, -45.692219px 17.47368855px 1px 0px #fff, -39.40415587px 22.75px 1px 0px #fff, -37.97876768px 30.83377813px 1px 0px #fff, -42.0830094px 37.94253332px 1px 0px #fff, -49.79646072px 40.75px 1px 0px #fff, -57.50991203px 37.94253332px 1px 0px #fff, -61.61415375px 30.83377813px 1px 0px #fff, -60.73068752px -21.26108167px 1px 0px #fff, -52.52220408px -21.26108167px 1px 0px #fff, -46.23414095px -15.98477022px 1px 0px #fff, -44.80875276px -7.90099208px 1px 0px #fff, -48.91299448px -0.7922369px 1px 0px #fff, -56.6264458px 2.01522978px 1px 0px #fff, -64.33989711px -0.7922369px 1px 0px #fff, -68.44413883px -7.90099208px 1px 0px #fff, -67.01875064px -15.98477022px 1px 0px #fff, -32.85604584px -55.32386693px 1px 0px #fff, -26.56798271px -50.04755548px 1px 0px #fff, -25.14259452px -41.96377735px 1px 0px #fff, -29.24683624px -34.85502216px 1px 0px #fff, -36.96028756px -32.04755548px 1px 0px #fff, -44.67373887px -34.85502216px 1px 0px #fff, -48.77798059px -41.96377735px 1px 0px #fff, -47.3525924px -50.04755548px 1px 0px #fff, -41.06452928px -55.32386693px 1px 0px #fff;
  }
}
.show-in-inner .box__inner-heading {
  animation: bounceHeadingInner 875ms forwards;
}
@keyframes bounceHeadingInner {
  16% {
    transform: scale(1.2) rotate(20deg);
  }
  32% {
    transform: scale(0.9) rotate(-10deg);
  }
  50% {
    transform: scale(1.05) rotate(5deg);
  }
  66% {
    transform: scale(0.975) rotate(-2.5deg);
  }
  83% {
    transform: scale(1.012) rotate(1.25deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
.show-out-outer {
  z-index: -1;
  opacity: 0;
  transform: scale(0);
}

.slide-out-inner {
  opacity: 1;
  transform: rotateY(0deg);
  animation: slideOutInner 500ms forwards cubic-bezier(1, 0.06, 0.95, 0.68);
}
@keyframes slideOutInner {
  75% {
    opacity: 1;
  }
  100% {
    transform: translate3d(0, 150%, 0);
    opacity: 0;
  }
}
.scale-in-btn-outer {
  animation: scaleBtnOuter 325ms 1410ms forwards;
}
@keyframes scaleBtnOuter {
  100% {
    transform: scale(1);
  }
}
.scale-in-btn-outer .fa-heart-btn--outer {
  animation: scaleHeartOuter 2500ms 1410ms infinite;
}
@keyframes scaleHeartOuter {
  16.666% {
    transform: translate(-50%, -50%) scale(1.1);
    opacity: 1;
  }
  33.333% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  50% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  66.666% {
    transform: translate(-50%, -50%) scale(1.1);
    opacity: 1;
  }
  83.666% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}
.scale-in-btn-outer:after {
  animation: particles--outer 2000ms 1160ms cubic-bezier(0.83, 0.44, 0.4, 0.86);
}
@keyframes particles--outer {
  0%, 20% {
    opacity: 0;
  }
  25% {
    opacity: 1;
    box-shadow: 8.66025404px -62.5px 1px 0px rgba(247, 90, 123, 0.6), 9.84807753px -55.76351822px 1px 0px rgba(247, 90, 123, 0.6), 6.4278761px -49.83955557px 1px 0px rgba(247, 90, 123, 0.6), 0px -47.5px 1px 0px rgba(247, 90, 123, 0.6), -6.4278761px -49.83955557px 1px 0px rgba(247, 90, 123, 0.6), -9.84807753px -55.76351822px 1px 0px rgba(247, 90, 123, 0.6), -8.66025404px -62.5px 1px 0px rgba(247, 90, 123, 0.6), -3.42020143px -66.89692621px 1px 0px rgba(247, 90, 123, 0.6), 3.42020143px -66.89692621px 1px 0px rgba(247, 90, 123, 0.6), 46.80836509px -42.3110737px 1px 0px rgba(247, 90, 123, 0.6), 43.38816365px -36.38711105px 1px 0px rgba(247, 90, 123, 0.6), 36.96028756px -34.04755548px 1px 0px rgba(247, 90, 123, 0.6), 30.53241146px -36.38711105px 1px 0px rgba(247, 90, 123, 0.6), 27.11221003px -42.3110737px 1px 0px rgba(247, 90, 123, 0.6), 28.30003352px -49.04755548px 1px 0px rgba(247, 90, 123, 0.6), 33.54008612px -53.44448169px 1px 0px rgba(247, 90, 123, 0.6), 40.38048899px -53.44448169px 1px 0px rgba(247, 90, 123, 0.6), 45.62054159px -49.04755548px 1px 0px rgba(247, 90, 123, 0.6), 63.0543219px -2.32432578px 1px 0px rgba(247, 90, 123, 0.6), 56.6264458px 0.01522978px 1px 0px rgba(247, 90, 123, 0.6), 50.1985697px -2.32432578px 1px 0px rgba(247, 90, 123, 0.6), 46.77836827px -8.24828844px 1px 0px rgba(247, 90, 123, 0.6), 47.96619176px -14.98477022px 1px 0px rgba(247, 90, 123, 0.6), 53.20624436px -19.38169642px 1px 0px rgba(247, 90, 123, 0.6), 60.04664723px -19.38169642px 1px 0px rgba(247, 90, 123, 0.6), 65.28669984px -14.98477022px 1px 0px rgba(247, 90, 123, 0.6), 66.47452333px -8.24828844px 1px 0px rgba(247, 90, 123, 0.6), 49.79646072px 38.75px 1px 0px rgba(247, 90, 123, 0.6), 43.36858462px 36.41044443px 1px 0px rgba(247, 90, 123, 0.6), 39.94838319px 30.48648178px 1px 0px rgba(247, 90, 123, 0.6), 41.13620668px 23.75px 1px 0px rgba(247, 90, 123, 0.6), 46.37625928px 19.35307379px 1px 0px rgba(247, 90, 123, 0.6), 53.21666215px 19.35307379px 1px 0px rgba(247, 90, 123, 0.6), 58.45671476px 23.75px 1px 0px rgba(247, 90, 123, 0.6), 59.64453825px 30.48648178px 1px 0px rgba(247, 90, 123, 0.6), 56.22433681px 36.41044443px 1px 0px rgba(247, 90, 123, 0.6), 13.23828214px 61.69277013px 1px 0px rgba(247, 90, 123, 0.6), 9.81808071px 55.76880747px 1px 0px rgba(247, 90, 123, 0.6), 11.0059042px 49.0323257px 1px 0px rgba(247, 90, 123, 0.6), 16.24595681px 44.63539949px 1px 0px rgba(247, 90, 123, 0.6), 23.08635967px 44.63539949px 1px 0px rgba(247, 90, 123, 0.6), 28.32641228px 49.0323257px 1px 0px rgba(247, 90, 123, 0.6), 29.51423577px 55.76880747px 1px 0px rgba(247, 90, 123, 0.6), 26.09403434px 61.69277013px 1px 0px rgba(247, 90, 123, 0.6), 19.66615824px 64.0323257px 1px 0px rgba(247, 90, 123, 0.6), -29.51423577px 55.76880747px 1px 0px rgba(247, 90, 123, 0.6), -28.32641228px 49.0323257px 1px 0px rgba(247, 90, 123, 0.6), -23.08635967px 44.63539949px 1px 0px rgba(247, 90, 123, 0.6), -16.24595681px 44.63539949px 1px 0px rgba(247, 90, 123, 0.6), -11.0059042px 49.0323257px 1px 0px rgba(247, 90, 123, 0.6), -9.81808071px 55.76880747px 1px 0px rgba(247, 90, 123, 0.6), -13.23828214px 61.69277013px 1px 0px rgba(247, 90, 123, 0.6), -19.66615824px 64.0323257px 1px 0px rgba(247, 90, 123, 0.6), -26.09403434px 61.69277013px 1px 0px rgba(247, 90, 123, 0.6), -58.45671476px 23.75px 1px 0px rgba(247, 90, 123, 0.6), -53.21666215px 19.35307379px 1px 0px rgba(247, 90, 123, 0.6), -46.37625928px 19.35307379px 1px 0px rgba(247, 90, 123, 0.6), -41.13620668px 23.75px 1px 0px rgba(247, 90, 123, 0.6), -39.94838319px 30.48648178px 1px 0px rgba(247, 90, 123, 0.6), -43.36858462px 36.41044443px 1px 0px rgba(247, 90, 123, 0.6), -49.79646072px 38.75px 1px 0px rgba(247, 90, 123, 0.6), -56.22433681px 36.41044443px 1px 0px rgba(247, 90, 123, 0.6), -59.64453825px 30.48648178px 1px 0px rgba(247, 90, 123, 0.6), -60.04664723px -19.38169642px 1px 0px rgba(247, 90, 123, 0.6), -53.20624436px -19.38169642px 1px 0px rgba(247, 90, 123, 0.6), -47.96619176px -14.98477022px 1px 0px rgba(247, 90, 123, 0.6), -46.77836827px -8.24828844px 1px 0px rgba(247, 90, 123, 0.6), -50.1985697px -2.32432578px 1px 0px rgba(247, 90, 123, 0.6), -56.6264458px 0.01522978px 1px 0px rgba(247, 90, 123, 0.6), -63.0543219px -2.32432578px 1px 0px rgba(247, 90, 123, 0.6), -66.47452333px -8.24828844px 1px 0px rgba(247, 90, 123, 0.6), -65.28669984px -14.98477022px 1px 0px rgba(247, 90, 123, 0.6), -33.54008612px -53.44448169px 1px 0px rgba(247, 90, 123, 0.6), -28.30003352px -49.04755548px 1px 0px rgba(247, 90, 123, 0.6), -27.11221003px -42.3110737px 1px 0px rgba(247, 90, 123, 0.6), -30.53241146px -36.38711105px 1px 0px rgba(247, 90, 123, 0.6), -36.96028756px -34.04755548px 1px 0px rgba(247, 90, 123, 0.6), -43.38816365px -36.38711105px 1px 0px rgba(247, 90, 123, 0.6), -46.80836509px -42.3110737px 1px 0px rgba(247, 90, 123, 0.6), -45.62054159px -49.04755548px 1px 0px rgba(247, 90, 123, 0.6), -40.38048899px -53.44448169px 1px 0px rgba(247, 90, 123, 0.6);
  }
}
.beat-logo {
  animation: logo 1560ms forwards;
}
@keyframes logo {
  16.666% {
    transform: translate(-50%, 5px) scale(1.1);
    opacity: 1;
  }
  33.333% {
    transform: translate(-50%, 5px) scale(1);
    opacity: 1;
  }
  50% {
    transform: translate(-50%, 5px) scale(1);
    opacity: 1;
  }
  66.666% {
    transform: translate(-50%, 5px) scale(1.1);
    opacity: 1;
  }
  83.666% {
    transform: translate(-50%, 5px) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, 5px) scale(1);
    opacity: 1;
  }
}
.outer-ring {
  fill: #F75A7B;
}

.inner-box {
  fill: #F75A7B;
}

.icon-link {
  position: absolute;
  left: 5px;
  bottom: 5px;
  width: 50px;
}
.icon-link img {
  width: 100%;
  vertical-align: top;
}
.icon-link--twitter {
  left: auto;
  right: 5px;
}

.fa-heart {
  font-size: 30px;
  color: #F75A7B;
  text-shadow: 0 0 1px #F75A7B;
  opacity: .15;
}
.fa-heart--inner {
  color: #fff;
}

.heart {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate3d(0, 0, 0);
  z-index: 0;
}

.heart-bg-1 {
  top: 28%;
  left: 14%;
  animation: hearts-bg-1 120s infinite alternate linear;
}
@keyframes hearts-bg-1 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  25% {
    transform: translate3d(-59px, -100px, 0) rotate(360deg);
  }
  50% {
    transform: translate3d(357px, 306px, 0) rotate(720deg);
  }
  75% {
    transform: translate3d(-99px, -32px, 0) rotate(1080deg);
  }
  100% {
    transform: translate3d(242px, 260px, 0) rotate(1440deg);
  }
}
.heart-bg-2 {
  top: 54%;
  left: 74%;
  animation: hearts-bg-2 120s infinite alternate linear;
}
@keyframes hearts-bg-2 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  25% {
    transform: translate3d(-156px, -110px, 0) rotate(360deg);
  }
  50% {
    transform: translate3d(74px, 92px, 0) rotate(720deg);
  }
  75% {
    transform: translate3d(-116px, -119px, 0) rotate(1080deg);
  }
  100% {
    transform: translate3d(54px, 107px, 0) rotate(1440deg);
  }
}
.heart-bg-3 {
  top: 68%;
  left: 87%;
  animation: hearts-bg-3 120s infinite alternate linear;
}
@keyframes hearts-bg-3 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  25% {
    transform: translate3d(-169px, -29px, 0) rotate(360deg);
  }
  50% {
    transform: translate3d(245px, 60px, 0) rotate(720deg);
  }
  75% {
    transform: translate3d(-50px, -57px, 0) rotate(1080deg);
  }
  100% {
    transform: translate3d(97px, 218px, 0) rotate(1440deg);
  }
}
.heart-bg-4 {
  top: 15%;
  left: 66%;
  animation: hearts-bg-4 120s infinite alternate linear;
}
@keyframes hearts-bg-4 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  25% {
    transform: translate3d(-177px, -7px, 0) rotate(360deg);
  }
  50% {
    transform: translate3d(273px, 134px, 0) rotate(720deg);
  }
  75% {
    transform: translate3d(-99px, -184px, 0) rotate(1080deg);
  }
  100% {
    transform: translate3d(337px, 208px, 0) rotate(1440deg);
  }
}
.heart-bg-5 {
  top: 31%;
  left: 61%;
  animation: hearts-bg-5 120s infinite alternate linear;
}
@keyframes hearts-bg-5 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  25% {
    transform: translate3d(-131px, -167px, 0) rotate(360deg);
  }
  50% {
    transform: translate3d(270px, 389px, 0) rotate(720deg);
  }
  75% {
    transform: translate3d(-28px, -128px, 0) rotate(1080deg);
  }
  100% {
    transform: translate3d(48px, 376px, 0) rotate(1440deg);
  }
}
.heart-bg-6 {
  top: 22%;
  left: 26%;
  animation: hearts-bg-6 120s infinite alternate linear;
}
@keyframes hearts-bg-6 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  25% {
    transform: translate3d(-46px, -57px, 0) rotate(360deg);
  }
  50% {
    transform: translate3d(13px, 33px, 0) rotate(720deg);
  }
  75% {
    transform: translate3d(-70px, -2px, 0) rotate(1080deg);
  }
  100% {
    transform: translate3d(396px, 398px, 0) rotate(1440deg);
  }
}
.heart-bg-7 {
  top: 26%;
  left: 22%;
  animation: hearts-bg-7 120s infinite alternate linear;
}
@keyframes hearts-bg-7 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  25% {
    transform: translate3d(-195px, -84px, 0) rotate(360deg);
  }
  50% {
    transform: translate3d(7px, 341px, 0) rotate(720deg);
  }
  75% {
    transform: translate3d(-152px, -118px, 0) rotate(1080deg);
  }
  100% {
    transform: translate3d(288px, 363px, 0) rotate(1440deg);
  }
}
.heart-bg-8 {
  top: 30%;
  left: 6%;
  animation: hearts-bg-8 120s infinite alternate linear;
}
@keyframes hearts-bg-8 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  25% {
    transform: translate3d(-91px, -131px, 0) rotate(360deg);
  }
  50% {
    transform: translate3d(177px, 375px, 0) rotate(720deg);
  }
  75% {
    transform: translate3d(-187px, -89px, 0) rotate(1080deg);
  }
  100% {
    transform: translate3d(92px, 33px, 0) rotate(1440deg);
  }
}
.heart-bg-9 {
  top: 35%;
  left: 29%;
  animation: hearts-bg-9 120s infinite alternate linear;
}
@keyframes hearts-bg-9 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  25% {
    transform: translate3d(-135px, -151px, 0) rotate(360deg);
  }
  50% {
    transform: translate3d(237px, 263px, 0) rotate(720deg);
  }
  75% {
    transform: translate3d(-124px, -176px, 0) rotate(1080deg);
  }
  100% {
    transform: translate3d(213px, 106px, 0) rotate(1440deg);
  }
}
.heart-bg-10 {
  top: 23%;
  left: 83%;
  animation: hearts-bg-10 120s infinite alternate linear;
}
@keyframes hearts-bg-10 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  25% {
    transform: translate3d(-137px, -196px, 0) rotate(360deg);
  }
  50% {
    transform: translate3d(162px, 57px, 0) rotate(720deg);
  }
  75% {
    transform: translate3d(-30px, -4px, 0) rotate(1080deg);
  }
  100% {
    transform: translate3d(268px, 27px, 0) rotate(1440deg);
  }
}
.heart-bg-11 {
  top: 11%;
  left: 16%;
  animation: hearts-bg-11 120s infinite alternate linear;
}
@keyframes hearts-bg-11 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  25% {
    transform: translate3d(-63px, -82px, 0) rotate(360deg);
  }
  50% {
    transform: translate3d(225px, 32px, 0) rotate(720deg);
  }
  75% {
    transform: translate3d(-178px, -169px, 0) rotate(1080deg);
  }
  100% {
    transform: translate3d(1px, 189px, 0) rotate(1440deg);
  }
}
.heart-bg-12 {
  top: 57%;
  left: 80%;
  animation: hearts-bg-12 120s infinite alternate linear;
}
@keyframes hearts-bg-12 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  25% {
    transform: translate3d(-25px, -57px, 0) rotate(360deg);
  }
  50% {
    transform: translate3d(19px, 201px, 0) rotate(720deg);
  }
  75% {
    transform: translate3d(-86px, -169px, 0) rotate(1080deg);
  }
  100% {
    transform: translate3d(144px, 234px, 0) rotate(1440deg);
  }
}
.heart-bg-13 {
  top: 45%;
  left: 100%;
  animation: hearts-bg-13 120s infinite alternate linear;
}
@keyframes hearts-bg-13 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  25% {
    transform: translate3d(-182px, -32px, 0) rotate(360deg);
  }
  50% {
    transform: translate3d(237px, 210px, 0) rotate(720deg);
  }
  75% {
    transform: translate3d(-189px, -164px, 0) rotate(1080deg);
  }
  100% {
    transform: translate3d(152px, 218px, 0) rotate(1440deg);
  }
}
.heart-bg-14 {
  top: 9%;
  left: 22%;
  animation: hearts-bg-14 120s infinite alternate linear;
}
@keyframes hearts-bg-14 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  25% {
    transform: translate3d(-196px, -180px, 0) rotate(360deg);
  }
  50% {
    transform: translate3d(177px, 191px, 0) rotate(720deg);
  }
  75% {
    transform: translate3d(-31px, -194px, 0) rotate(1080deg);
  }
  100% {
    transform: translate3d(42px, 241px, 0) rotate(1440deg);
  }
}
.heart-bg-15 {
  top: 46%;
  left: 78%;
  animation: hearts-bg-15 120s infinite alternate linear;
}
@keyframes hearts-bg-15 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  25% {
    transform: translate3d(-146px, -4px, 0) rotate(360deg);
  }
  50% {
    transform: translate3d(58px, 150px, 0) rotate(720deg);
  }
  75% {
    transform: translate3d(-177px, -146px, 0) rotate(1080deg);
  }
  100% {
    transform: translate3d(125px, 313px, 0) rotate(1440deg);
  }
}
.heart-bg-16 {
  top: 20%;
  left: 52%;
  animation: hearts-bg-16 120s infinite alternate linear;
}
@keyframes hearts-bg-16 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  25% {
    transform: translate3d(-11px, -76px, 0) rotate(360deg);
  }
  50% {
    transform: translate3d(327px, 11px, 0) rotate(720deg);
  }
  75% {
    transform: translate3d(-15px, -177px, 0) rotate(1080deg);
  }
  100% {
    transform: translate3d(240px, 368px, 0) rotate(1440deg);
  }
}
.heart-bg-17 {
  top: 64%;
  left: 67%;
  animation: hearts-bg-17 120s infinite alternate linear;
}
@keyframes hearts-bg-17 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  25% {
    transform: translate3d(-117px, -95px, 0) rotate(360deg);
  }
  50% {
    transform: translate3d(82px, 271px, 0) rotate(720deg);
  }
  75% {
    transform: translate3d(-13px, -40px, 0) rotate(1080deg);
  }
  100% {
    transform: translate3d(108px, 337px, 0) rotate(1440deg);
  }
}
.heart-bg-18 {
  top: 85%;
  left: 90%;
  animation: hearts-bg-18 120s infinite alternate linear;
}
@keyframes hearts-bg-18 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  25% {
    transform: translate3d(-37px, -182px, 0) rotate(360deg);
  }
  50% {
    transform: translate3d(336px, 338px, 0) rotate(720deg);
  }
  75% {
    transform: translate3d(-160px, -12px, 0) rotate(1080deg);
  }
  100% {
    transform: translate3d(64px, 259px, 0) rotate(1440deg);
  }
}
.heart-bg-19 {
  top: 25%;
  left: 40%;
  animation: hearts-bg-19 120s infinite alternate linear;
}
@keyframes hearts-bg-19 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  25% {
    transform: translate3d(-140px, -103px, 0) rotate(360deg);
  }
  50% {
    transform: translate3d(251px, 368px, 0) rotate(720deg);
  }
  75% {
    transform: translate3d(-29px, -122px, 0) rotate(1080deg);
  }
  100% {
    transform: translate3d(12px, 374px, 0) rotate(1440deg);
  }
}
.heart-bg-20 {
  top: 83%;
  left: 27%;
  animation: hearts-bg-20 120s infinite alternate linear;
}
@keyframes hearts-bg-20 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  25% {
    transform: translate3d(-15px, -62px, 0) rotate(360deg);
  }
  50% {
    transform: translate3d(393px, 167px, 0) rotate(720deg);
  }
  75% {
    transform: translate3d(-9px, -146px, 0) rotate(1080deg);
  }
  100% {
    transform: translate3d(312px, 155px, 0) rotate(1440deg);
  }
}
.heart-bg-21 {
  top: 42%;
  left: 2%;
  animation: hearts-bg-21 120s infinite alternate linear;
}
@keyframes hearts-bg-21 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  25% {
    transform: translate3d(-43px, -75px, 0) rotate(360deg);
  }
  50% {
    transform: translate3d(80px, 44px, 0) rotate(720deg);
  }
  75% {
    transform: translate3d(-138px, -29px, 0) rotate(1080deg);
  }
  100% {
    transform: translate3d(224px, 120px, 0) rotate(1440deg);
  }
}
.heart-bg-22 {
  top: 63%;
  left: 35%;
  animation: hearts-bg-22 120s infinite alternate linear;
}
@keyframes hearts-bg-22 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  25% {
    transform: translate3d(-19px, -37px, 0) rotate(360deg);
  }
  50% {
    transform: translate3d(258px, 248px, 0) rotate(720deg);
  }
  75% {
    transform: translate3d(-52px, -70px, 0) rotate(1080deg);
  }
  100% {
    transform: translate3d(329px, 373px, 0) rotate(1440deg);
  }
}
.heart-bg-23 {
  top: 23%;
  left: 86%;
  animation: hearts-bg-23 120s infinite alternate linear;
}
@keyframes hearts-bg-23 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  25% {
    transform: translate3d(-91px, -107px, 0) rotate(360deg);
  }
  50% {
    transform: translate3d(5px, 354px, 0) rotate(720deg);
  }
  75% {
    transform: translate3d(-70px, -142px, 0) rotate(1080deg);
  }
  100% {
    transform: translate3d(379px, 372px, 0) rotate(1440deg);
  }
}
.heart-bg-24 {
  top: 81%;
  left: 43%;
  animation: hearts-bg-24 120s infinite alternate linear;
}
@keyframes hearts-bg-24 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  25% {
    transform: translate3d(-129px, -146px, 0) rotate(360deg);
  }
  50% {
    transform: translate3d(354px, 198px, 0) rotate(720deg);
  }
  75% {
    transform: translate3d(-90px, -128px, 0) rotate(1080deg);
  }
  100% {
    transform: translate3d(396px, 344px, 0) rotate(1440deg);
  }
}
.heart-bg-25 {
  top: 73%;
  left: 83%;
  animation: hearts-bg-25 120s infinite alternate linear;
}
@keyframes hearts-bg-25 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  25% {
    transform: translate3d(-118px, -40px, 0) rotate(360deg);
  }
  50% {
    transform: translate3d(3px, 224px, 0) rotate(720deg);
  }
  75% {
    transform: translate3d(-174px, -144px, 0) rotate(1080deg);
  }
  100% {
    transform: translate3d(349px, 132px, 0) rotate(1440deg);
  }
}
.heart-bg-26 {
  top: 95%;
  left: 44%;
  animation: hearts-bg-26 120s infinite alternate linear;
}
@keyframes hearts-bg-26 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  25% {
    transform: translate3d(-44px, -135px, 0) rotate(360deg);
  }
  50% {
    transform: translate3d(20px, 306px, 0) rotate(720deg);
  }
  75% {
    transform: translate3d(-12px, -161px, 0) rotate(1080deg);
  }
  100% {
    transform: translate3d(166px, 351px, 0) rotate(1440deg);
  }
}
.heart-bg-27 {
  top: 77%;
  left: 65%;
  animation: hearts-bg-27 120s infinite alternate linear;
}
@keyframes hearts-bg-27 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  25% {
    transform: translate3d(-55px, -154px, 0) rotate(360deg);
  }
  50% {
    transform: translate3d(366px, 386px, 0) rotate(720deg);
  }
  75% {
    transform: translate3d(-140px, -48px, 0) rotate(1080deg);
  }
  100% {
    transform: translate3d(323px, 208px, 0) rotate(1440deg);
  }
}
.heart-bg-28 {
  top: 1%;
  left: 66%;
  animation: hearts-bg-28 120s infinite alternate linear;
}
@keyframes hearts-bg-28 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  25% {
    transform: translate3d(-50px, -85px, 0) rotate(360deg);
  }
  50% {
    transform: translate3d(273px, 30px, 0) rotate(720deg);
  }
  75% {
    transform: translate3d(-112px, -89px, 0) rotate(1080deg);
  }
  100% {
    transform: translate3d(7px, 30px, 0) rotate(1440deg);
  }
}
.heart-bg-29 {
  top: 43%;
  left: 20%;
  animation: hearts-bg-29 120s infinite alternate linear;
}
@keyframes hearts-bg-29 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  25% {
    transform: translate3d(-115px, -50px, 0) rotate(360deg);
  }
  50% {
    transform: translate3d(23px, 374px, 0) rotate(720deg);
  }
  75% {
    transform: translate3d(-186px, -14px, 0) rotate(1080deg);
  }
  100% {
    transform: translate3d(351px, 185px, 0) rotate(1440deg);
  }
}
.heart-bg-30 {
  top: 16%;
  left: 54%;
  animation: hearts-bg-30 120s infinite alternate linear;
}
@keyframes hearts-bg-30 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  25% {
    transform: translate3d(-63px, -171px, 0) rotate(360deg);
  }
  50% {
    transform: translate3d(268px, 135px, 0) rotate(720deg);
  }
  75% {
    transform: translate3d(-92px, -70px, 0) rotate(1080deg);
  }
  100% {
    transform: translate3d(256px, 321px, 0) rotate(1440deg);
  }
}
.heart-bg-31 {
  top: 58%;
  left: 94%;
  animation: hearts-bg-31 120s infinite alternate linear;
}
@keyframes hearts-bg-31 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  25% {
    transform: translate3d(-186px, -51px, 0) rotate(360deg);
  }
  50% {
    transform: translate3d(285px, 49px, 0) rotate(720deg);
  }
  75% {
    transform: translate3d(-34px, -77px, 0) rotate(1080deg);
  }
  100% {
    transform: translate3d(353px, 367px, 0) rotate(1440deg);
  }
}
.heart-bg-32 {
  top: 17%;
  left: 5%;
  animation: hearts-bg-32 120s infinite alternate linear;
}
@keyframes hearts-bg-32 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  25% {
    transform: translate3d(-117px, -82px, 0) rotate(360deg);
  }
  50% {
    transform: translate3d(192px, 255px, 0) rotate(720deg);
  }
  75% {
    transform: translate3d(-156px, -50px, 0) rotate(1080deg);
  }
  100% {
    transform: translate3d(84px, 114px, 0) rotate(1440deg);
  }
}
.heart-bg-33 {
  top: 18%;
  left: 6%;
  animation: hearts-bg-33 120s infinite alternate linear;
}
@keyframes hearts-bg-33 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  25% {
    transform: translate3d(-3px, -118px, 0) rotate(360deg);
  }
  50% {
    transform: translate3d(39px, 248px, 0) rotate(720deg);
  }
  75% {
    transform: translate3d(-94px, -141px, 0) rotate(1080deg);
  }
  100% {
    transform: translate3d(355px, 195px, 0) rotate(1440deg);
  }
}
.heart-bg-34 {
  top: 95%;
  left: 18%;
  animation: hearts-bg-34 120s infinite alternate linear;
}
@keyframes hearts-bg-34 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  25% {
    transform: translate3d(-185px, -107px, 0) rotate(360deg);
  }
  50% {
    transform: translate3d(268px, 329px, 0) rotate(720deg);
  }
  75% {
    transform: translate3d(-53px, -138px, 0) rotate(1080deg);
  }
  100% {
    transform: translate3d(173px, 330px, 0) rotate(1440deg);
  }
}
.heart-bg-35 {
  top: 63%;
  left: 41%;
  animation: hearts-bg-35 120s infinite alternate linear;
}
@keyframes hearts-bg-35 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  25% {
    transform: translate3d(-60px, -47px, 0) rotate(360deg);
  }
  50% {
    transform: translate3d(26px, 113px, 0) rotate(720deg);
  }
  75% {
    transform: translate3d(-197px, -161px, 0) rotate(1080deg);
  }
  100% {
    transform: translate3d(341px, 36px, 0) rotate(1440deg);
  }
}
.heart-bg-36 {
  top: 26%;
  left: 25%;
  animation: hearts-bg-36 120s infinite alternate linear;
}
@keyframes hearts-bg-36 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  25% {
    transform: translate3d(-170px, -130px, 0) rotate(360deg);
  }
  50% {
    transform: translate3d(200px, 105px, 0) rotate(720deg);
  }
  75% {
    transform: translate3d(-131px, -19px, 0) rotate(1080deg);
  }
  100% {
    transform: translate3d(275px, 396px, 0) rotate(1440deg);
  }
}
.heart-bg-37 {
  top: 97%;
  left: 41%;
  animation: hearts-bg-37 120s infinite alternate linear;
}
@keyframes hearts-bg-37 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  25% {
    transform: translate3d(-185px, -155px, 0) rotate(360deg);
  }
  50% {
    transform: translate3d(148px, 309px, 0) rotate(720deg);
  }
  75% {
    transform: translate3d(-36px, -9px, 0) rotate(1080deg);
  }
  100% {
    transform: translate3d(305px, 152px, 0) rotate(1440deg);
  }
}
.heart-bg-38 {
  top: 72%;
  left: 47%;
  animation: hearts-bg-38 120s infinite alternate linear;
}
@keyframes hearts-bg-38 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  25% {
    transform: translate3d(-66px, -162px, 0) rotate(360deg);
  }
  50% {
    transform: translate3d(369px, 220px, 0) rotate(720deg);
  }
  75% {
    transform: translate3d(-5px, -169px, 0) rotate(1080deg);
  }
  100% {
    transform: translate3d(335px, 134px, 0) rotate(1440deg);
  }
}
.heart-bg-39 {
  top: 69%;
  left: 59%;
  animation: hearts-bg-39 120s infinite alternate linear;
}
@keyframes hearts-bg-39 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  25% {
    transform: translate3d(-183px, -1px, 0) rotate(360deg);
  }
  50% {
    transform: translate3d(357px, 330px, 0) rotate(720deg);
  }
  75% {
    transform: translate3d(-148px, -68px, 0) rotate(1080deg);
  }
  100% {
    transform: translate3d(382px, 372px, 0) rotate(1440deg);
  }
}
.heart-bg-40 {
  top: 73%;
  left: 26%;
  animation: hearts-bg-40 120s infinite alternate linear;
}
@keyframes hearts-bg-40 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  25% {
    transform: translate3d(-80px, -154px, 0) rotate(360deg);
  }
  50% {
    transform: translate3d(53px, 243px, 0) rotate(720deg);
  }
  75% {
    transform: translate3d(-183px, -11px, 0) rotate(1080deg);
  }
  100% {
    transform: translate3d(120px, 82px, 0) rotate(1440deg);
  }
}
.heart-bg-41 {
  top: 71%;
  left: 58%;
  animation: hearts-bg-41 120s infinite alternate linear;
}
@keyframes hearts-bg-41 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  25% {
    transform: translate3d(0px, -155px, 0) rotate(360deg);
  }
  50% {
    transform: translate3d(212px, 145px, 0) rotate(720deg);
  }
  75% {
    transform: translate3d(-114px, -159px, 0) rotate(1080deg);
  }
  100% {
    transform: translate3d(374px, 307px, 0) rotate(1440deg);
  }
}
.heart-bg-42 {
  top: 30%;
  left: 45%;
  animation: hearts-bg-42 120s infinite alternate linear;
}
@keyframes hearts-bg-42 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  25% {
    transform: translate3d(-87px, -112px, 0) rotate(360deg);
  }
  50% {
    transform: translate3d(391px, 202px, 0) rotate(720deg);
  }
  75% {
    transform: translate3d(-32px, -94px, 0) rotate(1080deg);
  }
  100% {
    transform: translate3d(196px, 131px, 0) rotate(1440deg);
  }
}
.heart-bg-43 {
  top: 90%;
  left: 8%;
  animation: hearts-bg-43 120s infinite alternate linear;
}
@keyframes hearts-bg-43 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  25% {
    transform: translate3d(-20px, -25px, 0) rotate(360deg);
  }
  50% {
    transform: translate3d(192px, 199px, 0) rotate(720deg);
  }
  75% {
    transform: translate3d(-51px, -109px, 0) rotate(1080deg);
  }
  100% {
    transform: translate3d(270px, 95px, 0) rotate(1440deg);
  }
}
.heart-bg-44 {
  top: 39%;
  left: 94%;
  animation: hearts-bg-44 120s infinite alternate linear;
}
@keyframes hearts-bg-44 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  25% {
    transform: translate3d(-53px, -33px, 0) rotate(360deg);
  }
  50% {
    transform: translate3d(37px, 100px, 0) rotate(720deg);
  }
  75% {
    transform: translate3d(-168px, -138px, 0) rotate(1080deg);
  }
  100% {
    transform: translate3d(269px, 315px, 0) rotate(1440deg);
  }
}
.heart-bg-45 {
  top: 85%;
  left: 66%;
  animation: hearts-bg-45 120s infinite alternate linear;
}
@keyframes hearts-bg-45 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  25% {
    transform: translate3d(-24px, -16px, 0) rotate(360deg);
  }
  50% {
    transform: translate3d(276px, 276px, 0) rotate(720deg);
  }
  75% {
    transform: translate3d(-57px, -60px, 0) rotate(1080deg);
  }
  100% {
    transform: translate3d(365px, 256px, 0) rotate(1440deg);
  }
}
.heart-bg-46 {
  top: 63%;
  left: 44%;
  animation: hearts-bg-46 120s infinite alternate linear;
}
@keyframes hearts-bg-46 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  25% {
    transform: translate3d(-67px, -137px, 0) rotate(360deg);
  }
  50% {
    transform: translate3d(226px, 46px, 0) rotate(720deg);
  }
  75% {
    transform: translate3d(-63px, -74px, 0) rotate(1080deg);
  }
  100% {
    transform: translate3d(76px, 63px, 0) rotate(1440deg);
  }
}
.heart-bg-47 {
  top: 94%;
  left: 21%;
  animation: hearts-bg-47 120s infinite alternate linear;
}
@keyframes hearts-bg-47 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  25% {
    transform: translate3d(-12px, -49px, 0) rotate(360deg);
  }
  50% {
    transform: translate3d(212px, 288px, 0) rotate(720deg);
  }
  75% {
    transform: translate3d(-117px, -166px, 0) rotate(1080deg);
  }
  100% {
    transform: translate3d(51px, 219px, 0) rotate(1440deg);
  }
}
.heart-bg-48 {
  top: 58%;
  left: 32%;
  animation: hearts-bg-48 120s infinite alternate linear;
}
@keyframes hearts-bg-48 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  25% {
    transform: translate3d(-20px, -5px, 0) rotate(360deg);
  }
  50% {
    transform: translate3d(190px, 354px, 0) rotate(720deg);
  }
  75% {
    transform: translate3d(-8px, -161px, 0) rotate(1080deg);
  }
  100% {
    transform: translate3d(262px, 177px, 0) rotate(1440deg);
  }
}
.heart-bg-49 {
  top: 97%;
  left: 69%;
  animation: hearts-bg-49 120s infinite alternate linear;
}
@keyframes hearts-bg-49 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  25% {
    transform: translate3d(-81px, -54px, 0) rotate(360deg);
  }
  50% {
    transform: translate3d(351px, 39px, 0) rotate(720deg);
  }
  75% {
    transform: translate3d(-90px, -73px, 0) rotate(1080deg);
  }
  100% {
    transform: translate3d(128px, 312px, 0) rotate(1440deg);
  }
}
.heart-bg-50 {
  top: 44%;
  left: 100%;
  animation: hearts-bg-50 120s infinite alternate linear;
}
@keyframes hearts-bg-50 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  25% {
    transform: translate3d(-77px, -53px, 0) rotate(360deg);
  }
  50% {
    transform: translate3d(77px, 55px, 0) rotate(720deg);
  }
  75% {
    transform: translate3d(-65px, -169px, 0) rotate(1080deg);
  }
  100% {
    transform: translate3d(352px, 43px, 0) rotate(1440deg);
  }
}
.heart-inner-1 {
  left: 4%;
  opacity: 0;
  animation: hearts-inner-1 1500ms infinite linear;
  animation-delay: 4942ms;
}
@keyframes hearts-inner-1 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: translate3d(-25px, 32px, 0) rotate(180deg);
    opacity: .7;
  }
  100% {
    transform: translate3d(-50px, 75px, 0) rotate(360deg);
    opacity: 0;
  }
}
.heart-inner-2 {
  left: 8%;
  opacity: 0;
  animation: hearts-inner-2 1500ms infinite linear;
  animation-delay: 1033ms;
}
@keyframes hearts-inner-2 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: translate3d(-25px, 32px, 0) rotate(180deg);
    opacity: .7;
  }
  100% {
    transform: translate3d(-50px, 75px, 0) rotate(360deg);
    opacity: 0;
  }
}
.heart-inner-3 {
  left: 12%;
  opacity: 0;
  animation: hearts-inner-3 1500ms infinite linear;
  animation-delay: 3795ms;
}
@keyframes hearts-inner-3 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: translate3d(-25px, 32px, 0) rotate(180deg);
    opacity: .7;
  }
  100% {
    transform: translate3d(-50px, 75px, 0) rotate(360deg);
    opacity: 0;
  }
}
.heart-inner-4 {
  left: 16%;
  opacity: 0;
  animation: hearts-inner-4 1500ms infinite linear;
  animation-delay: 4759ms;
}
@keyframes hearts-inner-4 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: translate3d(-25px, 32px, 0) rotate(180deg);
    opacity: .7;
  }
  100% {
    transform: translate3d(-50px, 75px, 0) rotate(360deg);
    opacity: 0;
  }
}
.heart-inner-5 {
  left: 20%;
  opacity: 0;
  animation: hearts-inner-5 1500ms infinite linear;
  animation-delay: 2892ms;
}
@keyframes hearts-inner-5 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: translate3d(-25px, 32px, 0) rotate(180deg);
    opacity: .7;
  }
  100% {
    transform: translate3d(-50px, 75px, 0) rotate(360deg);
    opacity: 0;
  }
}
.heart-inner-6 {
  left: 24%;
  opacity: 0;
  animation: hearts-inner-6 1500ms infinite linear;
  animation-delay: 4502ms;
}
@keyframes hearts-inner-6 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: translate3d(-25px, 32px, 0) rotate(180deg);
    opacity: .7;
  }
  100% {
    transform: translate3d(-50px, 75px, 0) rotate(360deg);
    opacity: 0;
  }
}
.heart-inner-7 {
  left: 28%;
  opacity: 0;
  animation: hearts-inner-7 1500ms infinite linear;
  animation-delay: 3363ms;
}
@keyframes hearts-inner-7 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: translate3d(-25px, 32px, 0) rotate(180deg);
    opacity: .7;
  }
  100% {
    transform: translate3d(-50px, 75px, 0) rotate(360deg);
    opacity: 0;
  }
}
.heart-inner-8 {
  left: 32%;
  opacity: 0;
  animation: hearts-inner-8 1500ms infinite linear;
  animation-delay: 2995ms;
}
@keyframes hearts-inner-8 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: translate3d(-25px, 32px, 0) rotate(180deg);
    opacity: .7;
  }
  100% {
    transform: translate3d(-50px, 75px, 0) rotate(360deg);
    opacity: 0;
  }
}
.heart-inner-9 {
  left: 36%;
  opacity: 0;
  animation: hearts-inner-9 1500ms infinite linear;
  animation-delay: 1959ms;
}
@keyframes hearts-inner-9 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: translate3d(-25px, 32px, 0) rotate(180deg);
    opacity: .7;
  }
  100% {
    transform: translate3d(-50px, 75px, 0) rotate(360deg);
    opacity: 0;
  }
}
.heart-inner-10 {
  left: 40%;
  opacity: 0;
  animation: hearts-inner-10 1500ms infinite linear;
  animation-delay: 3532ms;
}
@keyframes hearts-inner-10 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: translate3d(-25px, 32px, 0) rotate(180deg);
    opacity: .7;
  }
  100% {
    transform: translate3d(-50px, 75px, 0) rotate(360deg);
    opacity: 0;
  }
}
.heart-inner-11 {
  left: 44%;
  opacity: 0;
  animation: hearts-inner-11 1500ms infinite linear;
  animation-delay: 4139ms;
}
@keyframes hearts-inner-11 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: translate3d(-25px, 32px, 0) rotate(180deg);
    opacity: .7;
  }
  100% {
    transform: translate3d(-50px, 75px, 0) rotate(360deg);
    opacity: 0;
  }
}
.heart-inner-12 {
  left: 48%;
  opacity: 0;
  animation: hearts-inner-12 1500ms infinite linear;
  animation-delay: 893ms;
}
@keyframes hearts-inner-12 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: translate3d(-25px, 32px, 0) rotate(180deg);
    opacity: .7;
  }
  100% {
    transform: translate3d(-50px, 75px, 0) rotate(360deg);
    opacity: 0;
  }
}
.heart-inner-13 {
  left: 52%;
  opacity: 0;
  animation: hearts-inner-13 1500ms infinite linear;
  animation-delay: 1256ms;
}
@keyframes hearts-inner-13 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: translate3d(-25px, 32px, 0) rotate(180deg);
    opacity: .7;
  }
  100% {
    transform: translate3d(-50px, 75px, 0) rotate(360deg);
    opacity: 0;
  }
}
.heart-inner-14 {
  left: 56%;
  opacity: 0;
  animation: hearts-inner-14 1500ms infinite linear;
  animation-delay: 1587ms;
}
@keyframes hearts-inner-14 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: translate3d(-25px, 32px, 0) rotate(180deg);
    opacity: .7;
  }
  100% {
    transform: translate3d(-50px, 75px, 0) rotate(360deg);
    opacity: 0;
  }
}
.heart-inner-15 {
  left: 60%;
  opacity: 0;
  animation: hearts-inner-15 1500ms infinite linear;
  animation-delay: 4007ms;
}
@keyframes hearts-inner-15 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: translate3d(-25px, 32px, 0) rotate(180deg);
    opacity: .7;
  }
  100% {
    transform: translate3d(-50px, 75px, 0) rotate(360deg);
    opacity: 0;
  }
}
.heart-inner-16 {
  left: 64%;
  opacity: 0;
  animation: hearts-inner-16 1500ms infinite linear;
  animation-delay: 706ms;
}
@keyframes hearts-inner-16 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: translate3d(-25px, 32px, 0) rotate(180deg);
    opacity: .7;
  }
  100% {
    transform: translate3d(-50px, 75px, 0) rotate(360deg);
    opacity: 0;
  }
}
.heart-inner-17 {
  left: 68%;
  opacity: 0;
  animation: hearts-inner-17 1500ms infinite linear;
  animation-delay: 594ms;
}
@keyframes hearts-inner-17 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: translate3d(-25px, 32px, 0) rotate(180deg);
    opacity: .7;
  }
  100% {
    transform: translate3d(-50px, 75px, 0) rotate(360deg);
    opacity: 0;
  }
}
.heart-inner-18 {
  left: 72%;
  opacity: 0;
  animation: hearts-inner-18 1500ms infinite linear;
  animation-delay: 637ms;
}
@keyframes hearts-inner-18 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: translate3d(-25px, 32px, 0) rotate(180deg);
    opacity: .7;
  }
  100% {
    transform: translate3d(-50px, 75px, 0) rotate(360deg);
    opacity: 0;
  }
}
.heart-inner-19 {
  left: 76%;
  opacity: 0;
  animation: hearts-inner-19 1500ms infinite linear;
  animation-delay: 4261ms;
}
@keyframes hearts-inner-19 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: translate3d(-25px, 32px, 0) rotate(180deg);
    opacity: .7;
  }
  100% {
    transform: translate3d(-50px, 75px, 0) rotate(360deg);
    opacity: 0;
  }
}
.heart-inner-20 {
  left: 80%;
  opacity: 0;
  animation: hearts-inner-20 1500ms infinite linear;
  animation-delay: 4286ms;
}
@keyframes hearts-inner-20 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: translate3d(-25px, 32px, 0) rotate(180deg);
    opacity: .7;
  }
  100% {
    transform: translate3d(-50px, 75px, 0) rotate(360deg);
    opacity: 0;
  }
}
.heart-inner-21 {
  left: 84%;
  opacity: 0;
  animation: hearts-inner-21 1500ms infinite linear;
  animation-delay: 2791ms;
}
@keyframes hearts-inner-21 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: translate3d(-25px, 32px, 0) rotate(180deg);
    opacity: .7;
  }
  100% {
    transform: translate3d(-50px, 75px, 0) rotate(360deg);
    opacity: 0;
  }
}
.heart-inner-22 {
  left: 88%;
  opacity: 0;
  animation: hearts-inner-22 1500ms infinite linear;
  animation-delay: 2621ms;
}
@keyframes hearts-inner-22 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: translate3d(-25px, 32px, 0) rotate(180deg);
    opacity: .7;
  }
  100% {
    transform: translate3d(-50px, 75px, 0) rotate(360deg);
    opacity: 0;
  }
}
.heart-inner-23 {
  left: 92%;
  opacity: 0;
  animation: hearts-inner-23 1500ms infinite linear;
  animation-delay: 4271ms;
}
@keyframes hearts-inner-23 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: translate3d(-25px, 32px, 0) rotate(180deg);
    opacity: .7;
  }
  100% {
    transform: translate3d(-50px, 75px, 0) rotate(360deg);
    opacity: 0;
  }
}
.heart-inner-24 {
  left: 96%;
  opacity: 0;
  animation: hearts-inner-24 1500ms infinite linear;
  animation-delay: 3056ms;
}
@keyframes hearts-inner-24 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: translate3d(-25px, 32px, 0) rotate(180deg);
    opacity: .7;
  }
  100% {
    transform: translate3d(-50px, 75px, 0) rotate(360deg);
    opacity: 0;
  }
}
.heart-inner-25 {
  left: 100%;
  opacity: 0;
  animation: hearts-inner-25 1500ms infinite linear;
  animation-delay: 4371ms;
}
@keyframes hearts-inner-25 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: translate3d(-25px, 32px, 0) rotate(180deg);
    opacity: .7;
  }
  100% {
    transform: translate3d(-50px, 75px, 0) rotate(360deg);
    opacity: 0;
  }
}



div p{
  color: #ecf0f1;
font-family: 'Baloo Bhaijaan', cursive;
text-shadow: 2px 2px 2px grey
}
